<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{name}}'s Resume</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
        }
        h1, h2, h3 {
            color: #333;
        }
        .section {
            margin-bottom: 20px;
        }
        .skills {
            padding: 0;
        }
        .skills li {
            margin-left: 20px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .item-list {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .item-list li {
            margin-bottom: 10px;
        }
        .sub-list {
            margin-top: 10px;
            margin-left: 20px;
        }
        .sub-section {
            margin-left: 20px;
        }
        .sub-section .sub-list {
            margin-left: 0px;
        }
    </style>
</head>
<body>
    <h1>{{name}}</h1>
    <p>Email: {{email}}</p>
    <p>Phone: {{phone}}</p>
    {{#if address}}<p>Address: {{address}}</p>{{/if}}

    {{#if summary}}
    <div class="section">
        <h2>Summary</h2>
        <p>{{summary}}</p>
    </div>
    {{/if}}

    {{> skills}}
    {{> experience}}
    {{> projects}}
    {{> education}}
    {{> certifications}}
    {{> languages}}
    {{> references}}
    
</body>
</html>