{{#if projects}}
    <div class="section">
        <h3>Projects</h3>
        <ul class="item-list">
            {{#each projects}}
            <li>
                <strong>{{name}}</strong> ({{year}})<br>
                {{description}}<br>
                {{#if link}}<a href="{{link}}">{{link}}</a><br>{{/if}}
                <em>Technologies:</em> {{#each technologies}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
            </li>
            {{/each}}
        </ul>
    </div>
{{/if}}